body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: rgb(233, 233, 233);
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}